@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));



@layer base {
  html {
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.gray.300');
  border-radius: 9999px;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background-color: theme('colors.gray.700');
  }
}

:is(.dark) ::-webkit-scrollbar-thumb {
  background-color: theme('colors.gray.700');
}

::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.gray.400');
}

:is(.dark) ::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.gray.600');
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(30px, -50px) scale(1.1);
  }

  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}